// Navigation
// --------------
.title-bar {
  background: white;
  .menu-icon {
    @include hamburger($sos-red);
  }
}
img.logo-mobile {
  height: 40px;
}
nav.top-bar {
  background: white;
  div.top-bar-left {
    flex: 3 1 auto;
    ul#menu-main-menu {
      background-color: $sos-red;
      li.menu-item {
        a {
          font-size: .8rem;
          text-transform: uppercase;
          color: white;
          letter-spacing: 2px;
          &:hover {
            background-color: $sos-red;
            opacity: .8;
          }
        }
      }
      li:not(:last-child) {
        border-right: 1px solid white;
      }
    }
  }
  div.top-bar-right {
    display: flex;
    flex-flow: row;
    flex: 1 1 auto;
    section, div.basket-account, div.input-group {
      display: flex;
      justify-content: flex-end;
    }
    section {
      flex-basis: 50%;
      height: 3.5em;
      .input-group {
        height: 3.5rem;
        ::placeholder {
          padding: 1rem;
        }
      }
      form {
        .input-group-field {
          border-color: $sos-red;
          border-top: 0;
          border-right: 0;
          border-left: 0;
          box-shadow: none;
        }
        width: 100%;
        input#searchsubmit {
          background: none;
          border: 1px solid $sos-red;
          border-top: 0;
          border-right: 0;
          border-left: 0;
          border-radius: 0;
          color: $sos-red;
        }
      }
      input {
        max-width: 100%;
      }
    }
    div.basket-account {
      flex-basis: 50%;
      justify-content: space-around;
      .button {
        background: none;
        color: $sos-red;
        flex-basis: 44%;
        margin: 0;
        font-size: 1rem;
        line-height: 1.5rem;
        &:hover {
          border-bottom: 1px solid $sos-red;
          // color: white;
        }
        span.basket-count {
          color: $sos-red;
          font-weight: bold;
          padding: .2rem .5rem;
          margin-left: 5px;
        }
      }
      #logout-dropdown {
        width: 11.5rem;
        .button {
          background: $sos-red;
          color: white;
          width: 100%;
          &:hover {
            color: $sos-red;
            background: none;
          }
        }
      }
      #login-dropdown {
        form {
          label {
            margin-bottom: .5rem;
          }
          input {
            max-width: 100%;
          }
          .button {
            border: 1px solid $sos-red;
            font-weight: bold;
            width: 100%;
            &:hover {
              background: $sos-red;
              color: white;
            }
          }
        }
      }
    }
  }
}


// Hero
// --------------
.hero {
  height: calc( 100vh - 183px );
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  .hero-container {
    height: 20rem;
    width: 80%;
    @include absolute-center;
    h1 {
      // padding: 2rem 0 1rem 0;
    }
    h2 {
      padding: 1rem 0 2rem 0;
    }
    a {
      @include horizontal-center;
      border: 2px solid #b00;
      border-radius: 3px;
      position: relative;
      font-weight: bold;
    }
    h3 {
      padding: 2rem 0;
    }
  }
}
.button {
  background: $sos-red;
  &:hover, &:focus {
    background: $sos-red-hover;
  }
}

// Homepage
// --------------
.home h1, .home h2, .home h3, .home .woocommerce ul.products li.product .price {
  text-align: center;
}

// Featured zones on Homepage
div.featured-home {
  &:nth-child(odd) {
    // background: #f5f5f5;
    // padding: 0 1rem 1rem 1rem;
  }
  > h2 {
    padding: 1rem;
    // background: $sos-red;
    // color: white;
    color: $sos-red;
    margin: 2rem 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    a {
      // color: white;
      color: $sos-red;
    }
  }
  ul.products {
    li.product {
      h2.woocommerce-loop-product__title {
        font-size: 1.3rem;
      }
    }
  }
}
span.price span.woocommerce-Price-amount, .woocommerce p.price span.woocommerce-Price-amount {
  color: $sos-red;
  font-size: 1.2rem;
  span.woocommerce-Price-currencySymbol {
    font-size: 1rem;
  }
}
// Email Sign Up Homepage
div.mail {
  background: $light-gray;
  padding: 1rem 0 3rem 0;
  @include breakpoint(medium down) {
    padding: 2rem;
  }
  aside.mail-sign-up {
    margin: 0 auto;
    h2 {
      color: $sos-red;
      margin: 2rem 0;
      text-transform: uppercase;
      font-size: 1.5rem;
      letter-spacing: 2px;
    }
    label {
      font-size: 1rem;
      margin-bottom: .5rem;
    }
    .clear {
      text-align: center;
    }
    #mc-embedded-subscribe {
      background: $sos-red;
      color: white;
      @include breakpoint(medium down) {
        width: 100%;
      }
    }
    #mc_embed_signup {
      h4 {
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 2rem;
      }
      input {
        padding: 1rem;
        height: 3rem;
      }
    }
  }
}
// Product Page
// --------------
ul.tabs {
  border: none;
}
div#tab-description > h2 {
  display: none;
}
a.accordion-title {
  font-size: 2rem;
  &::before {
    margin-top: -1rem;
  }
}
aside.sidebar {
  padding: 0 1rem;
  div.product-sidebar, section.widget:not(.widget_search) {
    background: #f5f5f5;
    margin-bottom: 1rem;
    // border: 1px solid $sos-red;
    padding: 1rem;
    a.sos-review {
      background: $sos-red;
      color: white;
      text-align: center;
    }
  }
}


// Shop page product items
// --------------
.woocommerce ul.products li.product h2.woocommerce-loop-product__title, span.price {
  padding-left: 1rem;
}
.home .woocommerce ul.products li.product h2.woocommerce-loop-product__title, .home span.price {
  padding-left: 0;
}
li.card {
  &:hover {
    border: 1px solid #b3b3b3;
  }
}
h4.product_category_title {
  font-size: 0.7rem;
  color: white;
  background: $dark-gray;
  padding: 3px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
form.woocommerce-ordering select {
  width: rem-calc(230px);
}

// Shop Page Sidebar
// --------------
aside.sidebar {
  #woocommerce_product_search-2 {
    padding: 0;
  }
  section.widget {
    h6 {
      display: block;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: .9rem;
    }
    ul {
      list-style-type: none;
      margin-left: 0;
    }
  }
}


// Add to basket button
// --------------
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  color: black;
  font-weight: 400;
  padding: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}


// Flexbox for Shop Products
// --------------
.woocommerce ul.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  li {
    display: flex;
    flex-direction: column;
    border: 1px solid $medium-gray;
    .woocommerce-LoopProduct-link {
      flex: 1 0 auto;
    }
    .button {
      margin-top: auto;
      display: table;
    }
  }
}
.home .woocommerce ul.products {
  justify-content: space-between;
}
.home .woocommerce .featured {
  ul.products {
    li.product {
      margin: 0;
      flex-basis: 24%;
      @include breakpoint(medium down) {
        flex-basis: 48%;
      }
    }
  }
}
.home .woocommerce .featured-home {
  ul.columns-6 {
    li.product {
      float: none;
      margin: 0;
      flex-basis: 16%;
      @include breakpoint(medium down) {
        flex-basis: 48%;
      }
    }
  }
}

// Footer
// --------------
footer.footer {
  .grid-x {
    background: black;
    display: block;
    padding: 3rem 0 1rem 0;
    p {
      color: $dark-gray;
      font-size: .8rem;
      font-weight: bold;
      text-align: center;
      // padding: 2rem 1rem;
    }
  }
}
.footer-container {
  @include xy-grid-container;
  border-top: 1px solid $medium-gray;
  margin-top: rem-calc(60px);
  max-width: 100%;
}

.footer-grid {
  @include xy-grid;
  padding: rem-calc(30px) 0;

  section.widget {
    border-right: 1px solid $medium-gray;
    border-bottom: 0;

    &:last-child {
      border-right: 0;
    }
    @include xy-cell();
    @include breakpoint(small) {
      @include xy-cell(12);
    }
    @include breakpoint(medium) {
      @include xy-cell(6);
    }
    @include breakpoint(large) {
      @include xy-cell(3);
    }
  }
  #custom_html-2 {
    position: relative;
    .custom-html-widget {
      @include absolute-center;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #woocommerce_product_search-3, #woocommerce_widget_cart-2 {
    padding-right: 2rem;
  }
}


/* Icons */
// --------------
.fa-shopping-basket:before, .fa-sign-out-alt:before {
  padding-right: 5px;
}
#search-icon {
  position: relative;
  display: flex;
  &:before {
    color: $sos-red;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    content: "\f002";
  }
  input {
    text-indent: 15px;
  }
}

.fa-user:before {
  padding-right: 10px;
}
.fa-windows:before, .fa-apple:before {
  padding-right: 10px;
}


// My Account
// --------------
.woocommerce-account .woocommerce {
  margin-top: 2rem;
  nav.woocommerce-MyAccount-navigation {
    ul {
      list-style-type: none;
      margin-left: 0;
      li {
        padding: 1rem 1rem 1rem 1rem;
        border: 1px solid $medium-gray;
        border-top: none;
        background: $medium-gray;
        &:hover {
          background-color: $light-gray;
        }
        &:first-child {
          border-top: 1px solid $medium-gray;
        }
        // Removes downloads tab from My Account. XChange Download are listed under orders not downloads.
        &:nth-child(3) {
          display: none;
        }
        a {
          display: block;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: .9rem;
        }
      }
      .is-active {
        background-color: white;
        border-right: none;
        a {
          color: black;
        }
      }
      .woocommerce-MyAccount-navigation-link a:before {
        padding-right: 10px;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
      }
      .woocommerce-MyAccount-navigation-link--dashboard a:before {
        content: "\f3fd";
      }
      .woocommerce-MyAccount-navigation-link--orders a:before {
        content: "\f291";
      }
      .woocommerce-MyAccount-navigation-link--edit-address a:before {
        content: "\f2b9";
      }
      .woocommerce-MyAccount-navigation-link--edit-account a:before {
        content: "\f007";
      }
      .woocommerce-MyAccount-navigation-link--customer-logout a:before {
        content: "\f2f5";
      }
    }
  }
}
// Large And Up
// --------------
@media screen and (min-width: 64em) {
  .woocommerce ul.products {
    justify-content: flex-start;
  }
}
// Medium Only
// --------------
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .site-navigation {
    flex-wrap: wrap;
    .top-bar-title {
      display: flex;
      justify-content: center;
    }
    .top-bar-right {
      flex-flow: wrap!important;
      justify-content: center;
      padding: 0 1rem 0 1rem!important;
      section#search-3 {
        flex-basis: 100%!important;
      }
      div.basket-account {
        flex-basis: 100%!important;
        .button {
          flex-basis: 50%!important;
        }
      }
    }
  }
}

// Medium Down
// --------------
@media screen and #{breakpoint(medium down)} {
  .home div.cell .woocommerce ul.products li.product:nth-child(1),
  .home div.cell .woocommerce ul.products li.product:nth-child(2),
  .home div.cell .woocommerce ul.products li.product:nth-child(3),
  .home div.cell .woocommerce ul.products li.product:nth-child(4) {
    margin-bottom: 2rem;
  }
  .home .woocommerce div.featured ul.products li.product:nth-child(3),
  .home .woocommerce div.featured ul.products li.product:nth-child(4) {
    margin-bottom: 0!important;
  }
  .footer-grid {
    section.widget {
      border-right: 0;
      border-bottom: 1px solid $medium-gray;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
    }
  }
  #woocommerce_product_search-3, #woocommerce_widget_cart-2 {
    padding-right: 2rem;
  }
}

// Mobile Only
// --------------
@media only screen and (max-width: 39.9375em) {
  .site-title-bar {
    height: rem-calc(90px);
    position: relative;
    span.site-mobile-title {
      @include absolute-center;
      img {
        height: rem-calc(60px);
      }
    }
  }
  .woocommerce .woocommerce-ordering {
    width: 100%;
  }
}
