ul.tabs {
  border: none;
}
div#tab-description h2 {
  display: none;
}
a.accordion-title {
  font-size: 2rem;
  &::before {
    margin-top: -1rem;
  }
}
aside.sidebar {
  padding: 0 1rem;
  div.product-sidebar, section.widget:not(.widget_search) {
    background: #f5f5f5;
    margin-bottom: 1rem;
    padding: 1rem;
    a.sos-review {
      background: #dd0000;
      color: white;
      // display: block;
      // padding: 5px;
      text-align: center;
    }
  }
}

// Shop page product items
.woocommerce ul.products li.product h2.woocommerce-loop-product__title, span.price {
  padding-left: 1rem;
}
li.card {
  &:hover {
    border: 1px solid #b3b3b3;
  }
}
